<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="subways.mycloset.dao.ClothesDao">
    <insert id="add" parameterType="subways.mycloset.dto.Clothes">
        INSERT INTO clothes
            (cID, name, category, subcategory, filter, photo, isFavorite, id)
        VALUES(#{cId},#{name},#{category}, #{subcategory}, #{filter},#{photo}, #{isFavorite}, #{id})
    </insert>

    <delete id="delete" parameterType="Integer">
        DELETE FROM clothes where cId=#{cId};
    </delete>

    <update id="updateClothes" parameterType="subways.mycloset.dto.Clothes">
        UPDATE Clothes SET cId=#{cId}, name=#{name}, category=#{category}, subcategory=#{subcategory}, filter=#{filter}, photo=#{photo}, isFavorite=#{isFavorite}
        where cId=#{cId};
    </update>

    <select id="getClothesBycId" parameterType="Integer" resultType="Clothes">
        SELECT * FROM clothes where cId=#{cId};
    </select>

    <select id="getClothesByName" parameterType="String" resultType="Clothes">
        SELECT * FROM clothes where name like CONCAT('%', #{name}, '%') AND id=#{id};
    </select>

    <select id="getClothesByCategory" parameterType="String" resultType="Clothes">
        SELECT * FROM clothes where category=#{category} AND subcategory=#{subcategory} AND id=#{id};
    </select>

    <select id="getFavorites" parameterType="String" resultType="Clothes">
        SELECT * FROM clothes where isFavorite=true AND id=#{id};
    </select>

    <select id="getAllClothes" parameterType="String" resultType="Clothes">
        SELECT * FROM clothes where id=#{id};
    </select>

    <select id="getAllClothesCount" parameterType="String" resultType="Clothes">
        SELECT * FROM clothes;
    </select>
</mapper>
