<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="subways.mycloset.dao.ClothesDao">
    <insert id="add" parameterType="subways.mycloset.dto.Clothes">
        INSERT INTO clothes
            (cID, name, category, subcategory, filter, photo, isFavorite, id)
        VALUES(#{cId},#{name},#{category}, #{subcategory}, #{filter},#{photo}, #{isFavorite}, #{id})
    </insert>

    <select id="getClothesBycId" parameterType="Integer" resultType="Clothes">
        SELECT * FROM clothes where cId=#{cId};
    </select>

    <select id="getAllClothes" resultType="Clothes">
        SELECT * FROM clothes;
    </select>

    <select id="">
        
    </select>
</mapper>